
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Amatic SC', cursive;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}