
$color-red :#ff0000;
$color-white: #fff;
$color-header-bg: #333;
$color-primary: #ce0021;
$color-hover-bg: #b7001d;
$padding-container : 0px 160px;
$color-text: #555555;
$color-bg: #f5f5f5;
$color-header: #757575;



// -----------mixin----------------
@mixin upperCase {
    font-size: 14px;
    text-transform: uppercase;
}

@mixin colorVsFontWelcome {
    font-size: 12px;
    color: #b0b0b0;
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin input-style {
    border-radius: 10px;
    background-color:#ffffff;
    border: none;
}
// ---------------------------------
