@import "./_variables.scss";
@import "./_base.scss";

.sign-in-wrapper {
  .modal {
    // display: none;
    position: fixed;
    inset: 0;
    z-index: 5;
    .modal-overlay {
      position: absolute;
      inset: 0;
      background-color: #00000033;
    }
    .modal-body {
      width: 650px;
      height: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%);
      background-color: #b67a7a;
      position: relative;
      z-index: 10;
      border-radius: 15px;
      .modal-inner {
        // authen-form
        .auth-form {
          .out {
            float: right;
            color: #f3dddd;
            // font-size: 24px;
            margin: 15px 20px;
            font-size: 28px;
            font-style: bold;
            &:hover {
              cursor: pointer;
            }
          }
          .auth-form__container {
            padding: 40px 45px 0px;
            margin: auto;
            height: 400px;
            .auth-form__header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .auth-form__heading {
                font-size: 28px;
                font-weight: 500;
                text-transform: uppercase;
              }
              .auth-form__switch-btn {
                color: $color-white;
                font-size: 24px;
              }
              .auth-form__switch-btn:hover {
                cursor: pointer;
              }
            }
            .auth-form__content {
              padding: 40px 35px;
              margin: auto;
              .auth-form__form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .auth-form__group {
                  .auth-form__input {
                    height: 50px;
                    width: 100%;
                    @include input-style;
                    border-radius: 10px;
                    line-height: 50px;
                    padding-left: 20px;
                    font-size: 16px;
                    color: #949598;
                    &:focus {
                      outline: 2px solid rgb(241, 2, 2);
                    }
                  }
                }
                .auth-form__miss {
                  .auth-form__miss-t {
                    float: right;
                    color: $color-hover-bg;
                    font-size: 14px;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }

              .auth-form__controls {
                @include center;
                width: 100%;
                padding: 30px 0px;
                .btn {
                  width: 50%;
                  height: 50px;
                  background-color: $color-hover-bg;
                  float: right;
                  border-radius: 10px;
                  border: none;
                  font-size: 22px;
                  color: $color-white;
                }
                .btn:hover {
                  cursor: pointer;
                }
              }
            }
          }
          .auth-form__socials {
            height: 100px;
            background-color: #e2d7d7;
            display: flex;
            padding: 0 45px;
            justify-content: space-between;
            align-items: center;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            gap: 30px;
            .btn--with-icon {
              height: 50px;
              flex: 1;
              padding: 0 20px;
              display: flex;
              gap: 8px;
              align-items: center;
              border: $color-white;
              background-color: $color-white;
              text-decoration: none;
              border-radius: 10px;
              color: $color-primary;
              &:hover {
                background-color: #ebc4c4;
              }
              .social-icon {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
.sign-up-wrapper {
  .modal {
    display: none;
    // display: flex;
    position: fixed;
    inset: 0;
    z-index: 5;
    .modal-overlay {
      position: absolute;
      inset: 0;
      background-color: #00000033;
    }
    .modal-body {
      width: 650px;
      height: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #b67a7a;
      position: relative;
      z-index: 10;
      border-radius: 15px;
      .modal-inner {
        // authen-form
        .auth-form {
          .out {
            float: right;
            color: #f3dddd;
            // font-size: 24px;
            margin: 15px 20px;
            font-size: 28px;
            font-style: bold;
            &:hover {
              cursor: pointer;
            }
          }
          .auth-form__container {
            padding: 40px 45px 0px;
            margin: auto;
            height: 400px;
            .auth-form__header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .auth-form__heading {
                font-size: 28px;
                font-weight: 500;
                text-transform: uppercase;
              }
              .auth-form__switch-btn {
                color: $color-white;
                font-size: 24px;
              }
              .auth-form__switch-btn:hover {
                cursor: pointer;
              }
            }
            .auth-form__content {
              padding: 15px 35px;
              margin: auto;
              .auth-form__form {
                display: flex;
                flex-direction: column;
                gap: 15px;
                .auth-form__group {
                  .auth-form__input {
                    height: 50px;
                    width: 100%;
                    @include input-style;
                    border-radius: 10px;
                    line-height: 50px;
                    padding-left: 20px;
                    font-size: 16px;
                    color: #949598;
                    &:focus {
                      outline: 2px solid rgb(241, 2, 2);
                    }
                  }
                }
              }
              .auth-form__aside {
                margin: 15px 0px;
                .auth-form__policy-text {
                  font-size: 16px;
                  .auth-form__policy-link {
                    color: $color-white;
                    text-decoration: none;
                  }
                }
              }
              .auth-form__controls {
                @include center;
                width: 100%;
                margin: 13px 0px;
                .btn {
                  width: 50%;
                  height: 50px;
                  background-color: $color-hover-bg;
                  float: right;
                  border-radius: 10px;
                  border: none;
                  font-size: 22px;
                  color: $color-white;
                }
                .btn:hover {
                  cursor: pointer;
                }
              }
            }
          }
          .auth-form__socials {
            height: 100px;
            background-color: #e2d7d7;
            display: flex;
            padding: 0 45px;
            justify-content: space-between;
            align-items: center;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            gap: 30px;
            .btn--with-icon {
              height: 50px;
              flex: 1;
              padding: 0 20px;
              display: flex;
              gap: 8px;
              align-items: center;
              border: $color-white;
              background-color: $color-white;
              text-decoration: none;
              border-radius: 10px;
              color: $color-primary;
              &:hover {
                background-color: #ebc4c4;
              }
              .social-icon {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

//test
