@import "../scss/variables";
@import "../scss/base";

//welcome
.welcome {
  height: 40px;
  //   width: 100%;
  display: block;
  background-color: $color-header-bg;
  line-height: 40px;
  // @extend .a;
  @include colorVsFontWelcome;
  .welcome-container {
    padding: 0px 15px;
    max-width: 1200px;
    margin: auto;
    .welcome-left {
      float: left;
    }
    .welcome-log,
    .welcome-login {
      display: flex;
      float: right;
      & > a {
        margin: 0px 5px;
        @include colorVsFontWelcome;
        text-decoration: none;
      }
      a:hover {
        cursor: pointer;
        color: $color-primary;
      }
      &.hide {
        display: none;
      }
    }
  }
}

//toolbar
.header-container {
  // background-color: $color-white;
  padding: 0px 15px;
  max-width: 1200px;
  height: 113px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  .logo {
    height: 83px;
    width: auto;
    float: left;
  }
  .search {
    position: relative;
    float: left;
    // padding: 15px 30px;
    // border-radius: 24px;
    overflow: hidden;
    border: 1px solid $color-primary;
    & input {
      position: relative;
      z-index: 1;
      height: 48px;
      width: 400px;
      padding: 0px 20px;
      border: none;
      outline: none;
    }
    .fa-search {
      padding: 8px;
      float: right;
      @include center;
      width: 52px;
      height: 48px;
      border: 1px solid $color-primary;
      font-size: 18px;
      line-height: 24px;
      background: $color-primary;
      color: $color-white;
      &:hover {
        background-color: #eb2c2c;
        cursor: pointer;
      }
    }
  }
  .hotline {
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    .img-hotline {
      float: left;
    }
    .hotline-phoneNumber {
      float: left;
      padding-left: 10px;
      // @include center;
      // align-self: unset;
      // flex-direction: column;
      .hotline-text {
        color: $color-text;
        @include upperCase;
      }
      .hotline-tel {
        color: $color-primary;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          color: #f82727;
        }
      }
    }
  }
  .shopping-cart {
    position: relative;
    margin: 21px 0px;
    height: 40px;
    float: left;
    border: 1px solid $color-primary;
    background-color: $color-primary;
    border-radius: 30px;
    border: none;
    // @include center;
    .shopping-cart-container {
      display: flex;
      align-items: center;
      padding: 0px 15px;
      line-height: 40px;
      text-decoration: none;
      color: $color-white;
      .fa-shopping-cart {
        margin-right: 8px;
      }
    }
    &:hover {
      background-color: #f82727;
    }
    &:hover .notification {
      display: block;
    }
    .notification {
      display: none;
      height: 82px;
      width: 300px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: $color-white;
      position: absolute;
      top: 40px;
      right: 0;
      .notification-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        .red {
          color: $color-primary;
        }
      }
    }
  }
}

// navigation
.nav-header {
  height: 45px;
  background-color: $color-primary;
  .nav-container {
    padding: 0px 15px;
    max-width: 1200px;
    max-height: 45px;
    margin: auto;
    display: flex;
    .nav-left {
      padding: 0px 10px;
      background-color: #b7001d;
      .nav-left-container {
        .fs-16 {
          display: flex;
          gap: 5px;
          height: 45px;
          line-height: 45px;
          color: $color-white;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 700;
          .icon {
            width: 22px;
            line-height: 45px;

          }
        }
      }
    }
    .nav-right {
      padding: 0px 20px;
      .nav-right-container {
        position: relative;
        .nav-text {
          display: flex;
          gap: 5px;
          height: 45px;
          line-height: 45px;
          color: $color-white;
          font-size: 14px;
          text-transform: uppercase;
          .icon {
            width: 18px;
            line-height: 45px;
          }
        }
        .sub-nav {
          display: none;
          position: absolute;
          z-index: 2;
          left: -20px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          .introduce {
            .introduce-item {
              width: 100%;
              display: inline-block;
              background-color: $color-white;
              .sub-nav-content {
                line-height: 46px;
                color: $color-primary;
                padding: 0px 10px;
                text-transform: uppercase;
                word-wrap: break-word;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;
              }
              &:hover {
                background-color: $color-hover-bg;
                .sub-nav-content {
                  color: $color-white;
                }
              }
            }
            &:first-child {
              border-bottom: 1px dashed #ddd;
            }
            &:last-child {
              border-bottom: 3px solid $color-primary;
            }
          }
        }
      }
      &:hover {
        background-color: $color-hover-bg;
        cursor: pointer;
      }
      &:hover .sub-nav {
        display: block;
      }
    }
  }
}

//introduce
.main-introduction {
  background-color: $color-bg;
  display: flex;
  justify-content: center;
  .introduction {
    // display: none;
    margin: 35px 0px;
    max-width: 1200px;
    background: $color-white;
    .introduction-header {
      letter-spacing: 1px;
      padding: 20px 15px;
      border-bottom: 1px solid #e0e0e0;
      text-transform: uppercase;
      color: $color-header;
      font-size: 18px;
    }
    .introduction-container {
      padding: 0px 15px;
      text-align: justify;
      margin-bottom: 30px;

      p {
        color: $color-text;
        font-size: 16px;
        font-weight: 300;
        margin: 10px 0px 20px;
        line-height: 21px;
        .cl-red {
          font-weight: 600;
          color: $color-red;
        }
      }
    }
  }
}



// footer
.main-footer {
  // background-color: $color-bg;
  background-color: $color-white;
  .footer {
    padding: 30px 0px;
    max-width: 1200px;
    margin: auto;
    background: $color-white;
    font-size: 14px;
    font-weight: 300;
    color: #424242;
    .footer-header {
      border-bottom: 1px solid #e0e0e0;
      padding: 0px 0px 20px;
      display: flex;
      .footer-heading {
        width: 49%;
        padding: 0px 15px;
        .footer-heading-container {
          float: right;
          display: flex;
          width: 50%;
          flex-direction: column;
          .footer-heading-a {
            display: flex;
            height: 24px;
            position: relative;
            .icon {
              top: 0;
              left: 0;
              transition: all .4s ease-out;
              font-size: 20px;
              position: absolute;
            }
            .footer-heading-h {
              position: absolute;
              left: 30px;
              font-weight: 500;
            }
          }
          .footer-heading-c {
            margin: 5px;
          }
          &:hover {
            color: $color-primary;
            .icon {
              font-size: 24px;
              left: -10px;
              top: -6px;
            }
          }
        }
        .fl-l {
          padding: 0px 15px;
          float: left;
          border-left: 1px solid #e0e0e0;
        }
      }
    }
    .footer-container {
      display: flex;
      .footer-container-left {
        width: 66%;
        display: flex;
        .container {
          width: 40%;
          display: flex;
          flex-direction: column;
          padding: 30px 15px;
          .container-h {
            padding: 10px 0px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 500;
          }
          .container-items {
            font-style: 15px;
            color: $color-header;
            padding: 5px 0px;
            &:hover {
              cursor: pointer;
              color: $color-red;
            }
          }
          &:last-child {
            width: 50%;
          }
        }
      }
      .footer-container-right {
        width: 33%;
        float: right;
        margin: 40px 15px;
        border-left: 1px solid #e0e0e0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
        color: $color-header;
        gap: 10px;
        .phone-number {
          margin: 0px 0px 5px;
          font-size: 24px;
          color: #e44f4f;
          font-weight: 400;
        }
        .time {
        }
        .address {
          .icon {
            margin: 0px 5px;
            font-size: 14px;
          }
        }
        .socials-contact {
          display: flex;
          .socials-items {
            background-color: #dadadaa6;
            margin: 0px 8px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            .social-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #222;
              font-size: 20px;
              margin: 7px;
            }
            &:hover {
              background-color: #e44f4f;
              width: 40px;
              height: 40px;
              cursor: pointer;
              .social-icon {
                margin: 7px;
                color: $color-white;
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}


// modal
.form-wrapper {
  .modal {
    position: fixed;
    inset: 0;
    z-index: 5;
    .modal-overlay {
      position: absolute;
      inset: 0;
      background-color: #00000033;
    }
    .modal-body {
      width: 650px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #b67a7a;
      position: relative;
      z-index: 10;
      border-radius: 15px;
      .modal-inner {
        // authen-form
        .auth-form {
          .out {
            float: right;
            color: #f3dddd;
            // font-size: 24px;
            margin: 15px 20px;
            font-size: 28px;
            font-style: bold;
            padding: 0px 6px;
            &:hover {
              cursor: pointer;
              color: #000;
              background: #966464;
              border-radius: 50%;
            }
          }
          .auth-form__container {
            .type {
              display: none;
              padding: 40px 45px 0px;
              margin: auto;
              .auth-form__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .auth-form__heading {
                  font-size: 28px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
                .auth-form__switch-btn {
                  color: $color-white;
                  font-size: 24px;
                  padding: 7px 10px;
                }
                .auth-form__switch-btn:hover {
                  cursor: pointer;
                  color: #4d0808;
                }
              }
              .auth-form__content {
                padding: 30px 35px 0px;
                margin: auto;
                .auth-form__form {
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                  .auth-form__group {
                    .auth-form__input {
                      height: 50px;
                      width: 100%;
                      @include input-style;
                      border-radius: 10px;
                      line-height: 50px;
                      padding-left: 20px;
                      font-size: 16px;
                      color: #949598;
                       &:focus {
                        outline: 2px solid rgba(26, 203, 96, 0.57);
                      }
                    }
                  }
                  .auth-form__miss {
                    .auth-form__miss-t {
                      float: right;
                      color: $color-hover-bg;
                      font-size: 14px;
                      &:hover {
                        cursor: pointer;
                        text-decoration: underline
                      }
                    }
                  }
                }
  
                .auth-form__controls {
                  @include center;
                  width: 100%;
                  padding: 30px 0px;
                  .btn {
                    width: 50%;
                    height: 50px;
                    background-color: $color-hover-bg;
                    float: right;
                    border-radius: 10px;
                    border: none;
                    font-size: 22px;
                    color: $color-white;
                  }
                  .btn:hover {
                    cursor: pointer;
                    opacity: 0.8;
                  }
                }
              }
              
            }
            .type {
              display: none;
              padding: 40px 45px 0px;
              margin: auto;
              .auth-form__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .auth-form__heading {
                  font-size: 28px;
                  font-weight: 500;
                  text-transform: uppercase;
                }
                .auth-form__switch-btn {
                  color: $color-white;
                  font-size: 24px;
                }
                .auth-form__switch-btn:hover {
                  cursor: pointer;
                  color: #4d0808;
                }
              }
              .auth-form__content {
                padding: 30px 35px 0px;
                margin: auto;
                .auth-form__form {
                  display: flex;
                  flex-direction: column;
                  gap: 15px;
                  .auth-form__group {
                    .auth-form__input {
                      height: 50px;
                      width: 100%;
                      @include input-style;
                      border-radius: 10px;
                      line-height: 50px;
                      padding-left: 20px;
                      font-size: 16px;
                      color: #949598;
                       &:focus {
                        outline: 2px solid rgba(26, 203, 96, 0.57);
                      }
                    }
                  }
                }
                .auth-form__aside {
                  margin: 15px 0px;
                  .auth-form__policy-text {
                    font-size: 16px;
                    .auth-form__policy-link {
                      color: $color-white;
                      text-decoration: none;
                      &:hover {
                        color: #3700ff;
                      }
                    }
                  }
                }
                .auth-form__controls {
                  @include center;
                  width: 100%;
                  .btn {
                    width: 50%;
                    height: 50px;
                    background-color: $color-hover-bg;
                    float: right;
                    border-radius: 10px;
                    border: none;
                    font-size: 22px;
                    color: $color-white;
                  }
                  .btn:hover {
                    cursor: pointer;
                    opacity: 0.8;
                  }
                }
              }
              
            }
          }

          .auth-form__socials {
            height: 100px;
            background-color: #e2d7d7;
            display: flex;
            padding: 0 45px;
            justify-content: space-between;
            align-items: center;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            gap: 30px;
            .btn--with-icon {
              height: 50px;
              flex: 1;
              padding: 0 20px;
              display: flex;
              gap: 8px;
              align-items: center;
              border: $color-white;
              background-color: $color-white;
              text-decoration: none;
              border-radius: 10px;
              color: $color-primary;
              &:hover {
                background-color: #ebc4c4;
              }
              .social-icon {
                font-size: 24px;
              }
            }
            .facebook-icon {
              color: #5021f8;
            }
          }
        }
      }
    }
  }
  &.hide {
    display: none;
  }
}