* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Amatic SC", cursive;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navigation {
  background-color: #fbfcff;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 5;
  height: 96px;
  width: calc(100% - 300px);
}
.navigation .nav-container {
  border-bottom: 1px solid #ededf0;
  width: 100%;
  display: flex;
  float: right;
  justify-content: space-between;
  padding: 0px 15px;
}
.navigation .nav-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  gap: 5px;
}
.navigation .nav-container .content .header {
  font-weight: 700;
  font-size: 20px;
}
.navigation .nav-container .content .link {
  font-size: 14px;
}
.navigation .nav-container .content .link a {
  color: #ce0021;
}
.navigation .nav-container .search {
  margin: auto;
  width: 350px;
}
.navigation .nav-container .search .search-container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 6px;
}
.navigation .nav-container .search .search-container input {
  border: none;
  width: 350px;
  height: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  padding: 0px 40px 0px;
}
.navigation .nav-container .search .search-container input:focus {
  outline: 2px solid #a70a12;
}
.navigation .nav-container .search .search-container .fa-search {
  margin: auto;
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 22px;
}
.navigation .nav-container .search .search-container .fa-search:hover {
  cursor: pointer;
}
.navigation .nav-container .account {
  display: flex;
  gap: 25px;
  height: 96px;
}
.navigation .nav-container .account .acc-icon {
  margin: auto;
  font-weight: 700;
  font-size: 18px;
  color: #a19393;
}
.navigation .nav-container .account .acc-icon:hover {
  color: #ce0021;
  cursor: pointer;
}
.navigation .nav-container .account .account-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
}
.navigation .nav-container .account .account-container img {
  height: 55px;
}
.navigation .nav-container .account .account-container .information {
  padding: 5px 10px 0px 0px;
  position: relative;
}
.navigation .nav-container .account .account-container .information .acc-name {
  font-weight: 700;
}
.navigation .nav-container .account .account-container .information .acc-role {
  font-size: 14px;
}
.navigation .nav-container .account .account-container .information .infor-admin {
  width: 300px;
  position: absolute;
  top: 75px;
  right: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navigation .nav-container .account .account-container .information .infor-admin .h50 {
  height: 70px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #ce0021;
  color: #fff;
  padding: 22px;
  font-size: 20px;
}
.navigation .nav-container .account .account-container .information .infor-admin .infor-items {
  padding: 10px 5px;
  background-color: #fff;
  display: flex;
}
.navigation .nav-container .account .account-container .information .infor-admin .infor-items .inf-icon {
  color: #ce575d;
  font-size: 18px;
  padding: 15px;
}
.navigation .nav-container .account .account-container .information .infor-admin .infor-items .detail .uppercase {
  color: #555555;
  font-size: 18px;
}
.navigation .nav-container .account .account-container .information .infor-admin .infor-items .detail .description {
  color: #757575;
  font-size: 14px;
}
.navigation .nav-container .account .account-container .information .infor-admin .infor-items:hover .detail .uppercase {
  color: #b6272e;
}
.navigation .nav-container .account .account-container .information .infor-admin .infor-items:hover .detail .description {
  color: #ab8080;
}
.navigation .nav-container .account .account-container .information .infor-admin .sign-out {
  background-color: #fff;
  text-align: center;
  padding: 15px 0px;
}
.navigation .nav-container .account .account-container .information .infor-admin .sign-out .btn {
  padding: 7px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 16px;
  background-color: #ce0021;
}
.navigation .nav-container .account .account-container .information .infor-admin .sign-out .btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
.navigation .nav-container .account .account-container .information .infor-admin.hide {
  display: none;
}
.navigation .nav-container .account .account-container:hover {
  cursor: pointer;
}

.sidebar {
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 6;
  width: 300px;
  height: 100%;
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
.sidebar .sidebar-header {
  padding: 15px 25px;
  height: 96px;
  display: flex;
  justify-content: space-between;
}
.sidebar .sidebar-header .logo {
  display: flex;
  gap: 8px;
}
.sidebar .sidebar-header .logo .sidebar-img {
  height: 40px;
  margin: auto;
}
.sidebar .sidebar-header .logo .sidebar-header-text {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #ce0021;
  line-height: 70px;
}
.sidebar .sidebar-header .fa-bars {
  color: #ce0021;
  font-size: 24px;
  line-height: 70px;
}
.sidebar .sidebar-header .fa-bars:hover {
  cursor: pointer;
  opacity: 0.8;
}
.sidebar .sidebar-container {
  padding: 0px 15px;
}
.sidebar .sidebar-container .sidebar-content .sidebar-items {
  color: #777D74;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.sidebar .sidebar-container .sidebar-content .sidebar-items .left {
  display: flex;
  gap: 10px;
}
.sidebar .sidebar-container .sidebar-content .sidebar-items:hover {
  color: #ce0021;
  cursor: pointer;
}
.sidebar .sidebar-container .sidebar-content .sidebar-items.color {
  color: #ce0021;
}
.sidebar .sidebar-container .sidebar-content .sub-nav {
  padding-left: 25px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar .sidebar-container .sidebar-content .sub-nav .sub-nav-content .sub-nav-items {
  display: flex;
  justify-content: space-between;
  color: #777D74;
  font-size: 18px;
  padding: 5px 0px;
}
.sidebar .sidebar-container .sidebar-content .sub-nav .sub-nav-content .sub-nav-items .sub-nav-t i {
  padding-right: 5px;
}
.sidebar .sidebar-container .sidebar-content .sub-nav .sub-nav-content .sub-nav-items:hover {
  color: #ce0021;
  cursor: pointer;
}
.sidebar .sidebar-container .sidebar-content .sub-nav .sub-nav-content .sub-nav-items.color {
  color: #ce0021;
}
.sidebar .sidebar-container .sidebar-content .sub-nav .sub-nav-content .category {
  padding: 10px 0px 10px 10px;
}
.sidebar .sidebar-container .sidebar-content .sub-nav .sub-nav-content .category .menu-content {
  padding: 10px 0px;
  color: #777D74;
  display: flex;
  justify-content: space-between;
}
.sidebar .sidebar-container .sidebar-content .sub-nav .sub-nav-content .category .menu-content .menu-items {
  text-transform: uppercase;
}
.sidebar .sidebar-container .sidebar-content .sub-nav .sub-nav-content .category .menu-content:hover {
  cursor: pointer;
  color: #ce0021;
}
.sidebar .sidebar-container .sidebar-content .sub-nav.hide {
  display: none;
}

.hide {
  display: none;
}/*# sourceMappingURL=books.css.map */